extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alertError(5000)
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h1.text-center Lấy lại mật khẩu
                form(action=`/user/password/forgot`, method="POST") 
                    
                    .form-group 
                        label(for="email") Email 
                        input.form-control#email(type="email", name="email", required)
                    
                    .form-group
                        button.btn.btn-primary(type='submit') Gửi mail xác nhận
