extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alertError(5000)
    .container.my-5 
        .row.justify-content-center
            .col-8 
                h1.text-center Đổi mật khẩu
                form(action=`/user/password/reset`, method="POST") 

                    
                    .form-group 
                        label(for="password") Mật khẩu
                        input.form-control#password(type="password", name="password", required)
                    .form-group 
                    label(for="confirmPassword") Xác nhận mật khẩu
                    input.form-control#confirmPassword(type="password", name="confirmPassword", required)
                    .form-group
                        button.btn.btn-primary(type='submit') Đổi mật khẩu
